[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "./tests.py"
release = "./setup.py sdist; twine upload --skip-existing dist/*"

[pipenv]
allow_prereleases = true

[packages]
robobrowser = {git = "https://github.com/torico-tokyo/robobrowser.git"}
Werkzeug = ">=0.15.3"
pyquery = ">=1.4"
